header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  color: brown;
  background-color: aliceblue;
  border-bottom: 2px solid #cccccc;
}

footer{
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  color: brown;
  background-color: blanchedalmond;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 120px);
}

.nav-bar {
  width: 200px;
  height: calc(100vh - 120px);
  border-right: 2px solid #cccccc;
}
