button {
  border: none;
  font-size: 20px;
  outline: none;
  background-color: brown;
  color: #ffffff;
  transition: all 0.3s;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
