.list-item {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  color: royalblue;

  &:hover {
    background-color: rgba(0,0,0, 0.4);
  }
}

.container {
  display: flex;
  .template {
    width: 50px;
    height: 50px;
    background-color: blue;
  }
}
